
{
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "node": true
    },
    "extends": "airbnb",
    "plugins": [
        "flowtype"
    ],
    "rules": {
        "arrow-body-style": ["error", "never"],
        "arrow-parens": "off",
        "flowtype/space-after-type-colon": [
            "warn",
            "always"
        ],
        "flowtype/space-before-type-colon": [
            "warn",
            "never"
        ],
        "import/imports-first": "off",
        "import/no-duplicates": "error",
        "import/no-extraneous-dependencies": "off",
        "import/no-unresolved": "off",
        "indent": ["warn", 2],
        "linebreak-style": "off",
        "new-cap": "off",
        "no-duplicate-imports": "off",
        "no-nested-ternary": "off",
        "prefer-arrow-callback": "off",
        "react/jsx-no-bind": "off",
        "react/no-string-refs": "off"
    }
}
