
{
    "env": {
        "browser": true,
        "node": true
    },
    "extends": "airbnb",
    "rules": {
        "arrow-body-style": ["error", "never"],
        "import/no-unresolved": ["off"],
        "indent": ["warn", 2],
        "new-cap": ["error", { "capIsNewExceptions": ["EDIT", "MACRO", "TOGGLE", "Map"] }],
        "prefer-arrow-callback": ["off"]
    }
}
