.folding-paragraph__toggle {
  display: none !important;
}

.folding-paragraph__toggle.collapsed {
  display: inline-block !important;
}

.margin:hover + div .folding-paragraph__toggle,
.folding-paragraph__toggle:hover {
  display: inline-block !important;
}
